<%layout("/layouts/boilerplate.ejs")-%>
<style>
#filters{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter{
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}
.filter:hover{
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}
 @media screen and (max-width: 768px) {
    #filters .filter {
      display: none;
    }

    #filters .filter:nth-child(1),
    #filters .filter:nth-child(2) {
      display: block;
    }
  }




@media screen and (max-width: 576px) {
  .tax-toggle {
    padding: 2px !important;
    height: auto;
    font-size: 0.85rem !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .tax-toggle .form-check-input {
    transform: scale(0.75);
    margin-right: 0.1rem;
  }

  .mini-toggle{
    margin-left: 5px !important;
  }

  .tax-toggle .form-check-label {
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


  .tax-info{
    display: none;
  }

  .tax-toggle{
    border:1px solid black;
    border-radius:1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
  }
</style>
<div id="filters">
  <div class="filter">
<div><i class="fa-solid fa-fire"></i></div>
<p>Trending</p>
  </div>
  <div class="filter">
  <div><i class="fa-solid fa-bed"></i></div>
<p>Room</p>
  </div>
 <div class="filter">
  <div><i class="fa-solid fa-mountain-city"></i></div>
<p>Iconic cities</p>
  </div>
  <div class="filter">
  <div><i class="fa-solid fa-mountain"></i></div>
<p>Moutains</p>
  </div>
 <div class="filter">
  <div><i class="fa-solid fa-fort-awesome"></i></div>
<p>Castles</p>
  </div>
    <div class="filter">
  <div><i class="fa-solid fa-person-swimming"></i></div>
<p>Amazing Pools</p>
  </div>
 <div class="filter">
  <div><i class="fa-solid fa-campground"></i></div>
<p>Camping</p>
  </div>
    <div class="filter">
  <div><i class="fa-solid fa-cow"></i></div>
<p>Farms</p>
  </div>
 <div class="filter">
  <div><i class="fa-solid fa-snowflake"></i></div>
<p>Artics</p>
  </div>
      <!-- <div class="filter">
  <div><i class="fa-solid fa-igloo"></i></div>
<p>Domes</p>
  </div> -->
 <!-- <div class="filter">
  <div><i class="fa-solid fa-ship"></i></div>
<p>Boats</p>
  </div> -->


  <div class="tax-toggle">
<div class="form-check-reverse form-switch mini-toggle">
<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
<label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
</div>
  </div>
  </div>

  
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 mt-3">
  <% for(let listing of alllist) {%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
  <div class="card col listing-card" >
    <img style="height: 20rem;" src="<%=listing.image.url%>" class="card-img-top" alt="...">
    <div class="card-img-overlay"></div>
    <div class="card-body">
     <b><p class="card-text"><%=listing.title %></b> 
      <br>&#8377; <%=listing.price.toLocaleString("en-IN")%>
      <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
      </p>
    </div>
  </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch=document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
  
let taxInfo=document.getElementsByClassName("tax-info");
 for(info of taxInfo){
  if(info.style.display!="inline"){
    info.style.display="inline";
  } else{
    info.style.display="none";
  }
 }
  })
</script>